@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'JetBrains mono';
	src: url('./fonts/JetBrainsMono-Bold.ttf') format('truetype');
	src: url('./fonts/JetBrainsMono-Light.ttf') format('truetype');
	src: url('./fonts/JetBrainsMonoNL-SemiBold.ttf') format('truetype');
	src: url('./fonts/JetBrainsMonoNL-Medium.ttf') format('truetype');
	src: url('./fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

* {
	font-family: 'JetBrains mono', sans-serif;
}
